.main {
  width: 95%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.filter {
  padding: 0.5rem;
  display: flex;
  width: 22%;
  min-width: fit-content;
  flex-direction: column;
  justify-content: flex-start;
  height: 33rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.filterMain {
  height: fit-content;
}

.filterTop {
  width: 90%;
  margin: auto auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Product Sans", sans-serif;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 1rem;
}

.costFilter {
  width: 90%;
  margin: auto auto;
}

.costFilter > p {
  font-family: "Product Sans", sans-serif;
}

.colorFilter {
  width: 90%;
  margin: auto auto;
}

.colorFilter > p {
  font-family: "Product Sans", sans-serif;
}

.colors {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-around;
}

.black,
.whitesmoke,
.yellow,
.lightgreen,
.goldenrod {
  height: 1.5rem;
  width: 1.5rem;
}

.black {
  background: black;
}

.whitesmoke {
  background: whitesmoke;
}

.yellow {
  background: yellow;
}

.lightgreen {
  background: lightgreen;
}

.goldenrod {
  background: goldenrod;
}

.applyButton{
  background: #000;
  color:white;
  margin: 2rem 0 0 7rem;
  cursor: pointer;
}

.shoes {
  padding: 0.5rem;
  width: 48%;
  min-width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.shoesTop {
  width: 90%;
  margin: auto auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Product Sans", sans-serif;
}

/* .shoesMiddle{
  width: 90%;
  display:flex;
  flex-direction: column;
  align-items: center;
} */

.shoerack{
  width: 95%;
  display: flex;
  margin:auto;
}

.sortShoes{
  display: flex;
  align-items: center;
}

.sortButton{
  background-color: transparent;
  font-family: 'Product Sans', sans-serif;
}

.cart {
  width: 22%;
  padding: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


@media(max-width:1200px){
  .shoerack{
    flex-wrap: wrap;
  }
}

@media(max-width:1275px){
  .main{
    flex-wrap: wrap;
  }
  .filter{
    height: fit-content;
    margin: 2rem auto;
    padding: 1rem;
  }

  .shoes{
    margin: 1rem 1rem;
  }

  .filterMain{
    gap: 1rem;
    display: flex;
    flex-direction: row;
    height: fit-content;
  }
}