.main {
  width: 95%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.filter {
  padding: 0.5rem;
  display: flex;
  width: 23%;
  min-width: fit-content;
  flex-direction: column;
  justify-content: flex-start;
  height: 33rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.filterMain {
  height: fit-content;
}

.filterButton {
  width: 20%;
  background: #000;
  color: white;
  margin: auto;
  font-family: "Product Sans", sans-serif;
}

.filterTop {
  width: 90%;
  margin: auto auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Product Sans", sans-serif;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 1rem;
}

.costFilter {
  width: 90%;
  margin: auto auto;
}

.costFilter > p {
  font-family: "Product Sans", sans-serif;
}

.colorFilter {
  width: 90%;
  margin: auto auto;
}

.colorFilter > p {
  font-family: "Product Sans", sans-serif;
}

.colors {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-around;
}

.black,
.whitesmoke,
.yellow,
.lightgreen,
.goldenrod {
  height: 1.5rem;
  width: 1.5rem;
}

.black {
  background: black;
}

.whitesmoke {
  background: whitesmoke;
}

.yellow {
  background: yellow;
}

.lightgreen {
  background: lightgreen;
}

.goldenrod {
  background: goldenrod;
}

.button {
  width: fit-content;
  margin: auto;
}

.applyButton {
  background: #000;
  color: white;
  margin: 2rem 0 0 7rem;
  cursor: pointer;
}

.orderButton {
  background: #000;
  color: white;
  margin: auto auto;
  cursor: pointer;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Product Sans", sans-serif;
}

.orderButton:disabled {
  background-color: darkgray;
}

.shoes {
  padding: 0.5rem;
  width: 46%;
  min-width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.shoesTop {
  width: 90%;
  margin: auto auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Product Sans", sans-serif;
}

.shoerack {
  width: 95%;
  display: flex;
  margin: auto;
}

.sortShoes {
  display: flex;
  align-items: center;
}

.sortButton {
  background-color: transparent;
  font-family: "Product Sans", sans-serif;
}

.cart {
  padding: 0.5rem;
  display: flex;
  width: 23%;
  min-width: fit-content;
  flex-direction: column;
  justify-content: flex-start;
  height: 33rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cartMain {
  height: 80%;
}

.cartTop {
  width: 90%;
  margin: auto auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Product Sans", sans-serif;
}

.cartMiddle {
  height: 85%;
  width: 95%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
}

.emptyMessage{
  text-align: center;
  font-family:'Product Sans', sans-serif;
  font-size: medium;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.address {
  display: flex;
  margin: auto;
  width: 90%;
}

.address > div {
  display: flex;
  align-items: center;
  margin: 0.5rem 0.5rem;
  gap: 4px;
  color: gray;
}

.address > div > p {
  font-size: small;
}

.addressIcon {
  height: 1rem;
  width: 1rem;
}



@media (max-width: 1275px) {
  .main {
    flex-wrap: wrap;
  }

  .filter {
    height: fit-content;
    margin: 2rem auto;
    padding: 1rem;
    width: 80%;
  }

  .cart {
    height: fit-content;
    margin: 2rem auto;
    padding: 1rem;
    width: 80%;
  }

  .shoes {
    margin: 1rem 1rem;
  }

  .cartMiddle {
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
  }

  .filterMain {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    height: fit-content;
  }

  .cartMain {
    gap: 1rem;
    width: 100%;
    height: fit-content;
  }
}
